<%- include('includes/header'); -%>
<p><b>Hi <%=username%></b></p>
<p>We hope you are doing great. We have some good news for you!</p>
<p>Your reported issue has been resolved by our team and we are closing the ticket from our end.</p>

<table>
    <tr>
        <td>Subject :</td>
        <td><%=subject%></td>
    </tr>
    <tr>
        <td>Ticket Number :</td>
        <td><%=TicketNumber%></td>
    </tr>
    <tr>
        <td>Date :</td>
        <td><%=Ticketdate%></td>
    </tr>
    <tr>
        <td>Ticket Type :</td>
        <td><%=TicketType%></td>
    </tr>
    <tr>
        <td>Ticket Description :</td>
        <td><%=TicketDiscription%></td>
    </tr>
</table>

<p>Thanks for your patience!</p>
<p>Please check if you are still facing the issue. In case, the issue persists, we can reopen the ticket at any time.
    Feel free to give us a call at 9205390744 or 9205390764</p>

<p>Thanks again for contacting us,<br/>
    Technical Support Desk <br/>
    <b>Drizzle</b></p>
<%- include('includes/footer'); -%>