<%- include('includes/header'); -%>
<p><b>Hi <%=username%></b></p>
<p>Thank you for reaching out.</p>
<p>We received your request and have already started working on resolving your issue</p>

<table>
   
    <tr>
        <td>Subject :</td>
        <td><%=subject%></td>
    </tr>
    <tr>
        <td>Ticket Number :</td>
        <td><%=TicketNumber%></td>
    </tr>
    <tr>
        <td>Date :</td>
        <td><%=Ticketdate%></td>
    </tr>
    <tr>
        <td>Ticket Type :</td>
        <td><%=TicketType%></td>
    </tr>
    <tr>
        <td>Ticket Description :</td>
        <td><%=TicketDiscription%></td>
    </tr>
     <tr>
        <td>Ticket Status :</td>
        <td><%=TicketStatus%></td>
    </tr>
</table>

<p>One of our agents will get back to you as soon as possible. Typically, it takes us less than 24 hours to respond with a resolution.
    If you have any additional information that you think will help us to assist you, please reply to this email
    If it's an emergency, feel free to give us a call at 9205390744 or 9205390764.</p>
<p>Thanks again for contacting us,<br/>
    Technical Support Desk <br/>
    <b>Drizzle</b></p>


<%- include('includes/footer'); -%>