<%- include('includes/header'); -%>
<p><b>Hi </b></p>
<p>IT Department has created a new Vendor.</p>


<table>

    <tr>
        <td>Vendor Name :</td>
        <td><%=vendor_name%></td>
    </tr>
    <tr>
        <td>Vendor Code :</td>
        <td><%=vendor_code%></td>
    </tr>
    <tr>
        <td>City :</td>
        <td><%=vendor_city%></td>
    </tr>
    <tr>
        <td>Contact Person :</td>
        <td><%=contact_person%></td>
    </tr>
    <tr>
        <td>Contact Number:</td>
        <td><%=contact_person_name%></td>
    </tr>
    

</table>



<p>Thanks!!<br/>
    Technical Support Desk<br/>
    <b>Drizzle</b></p>


<%- include('includes/footer'); -%>