<%- include('includes/header'); -%>
<p><b>Hi </b></p>
<p>IT Department has created a new Vendor Contract.</p>


<table>

    <tr>
        <td>Vendor Name :</td>
        <td><%=vendor_name%></td>
    </tr>
    <tr>
        <td>Vendor Code :</td>
        <td><%=vendor_code%></td>
    </tr>
    <tr>
        <td>Reference Number :</td>
        <td><%=referance_no%></td>
    </tr>
    <tr>
        <td>Company :</td>
        <td><%=company%></td>
    </tr>
    <tr>
        <td>Location:</td>
        <td><%=location%></td>
    </tr>
    <tr>
        <td>Vendor Category :</td>
        <td><%=vendor_category%></td>
    </tr>
    <tr>
        <td>Contract Category:</td>
        <td><%=contract_category%></td>
    </tr>
    <tr>
        <td>Frequency:</td>
        <td><%=frequency%></td>
    </tr>  
    
</table>


<p>Thanks!!<br/>
    Technical Support Desk<br/>
    <b>Drizzle</b></p>


<%- include('includes/footer'); -%>