<%- include('includes/header'); -%>
<p><b>Hi <%=Name%></b></p>
<p>IT Department has made following updates to the IT Asset.</p>

<table>
   
    <tr>
        <td>Asset Type :</td>
        <td><%=Asset_Type%></td>
    </tr>
    <tr>
        <td>Asset Tag :</td>
        <td><%=Asset_Tag%></td>
    </tr>
    <tr>
        <td>Manufacturer :</td>
        <td><%=Manufacture%></td>
    </tr>
    <tr>
        <td>Model :</td>
        <td><%=Model%></td>
    </tr>
    <tr>
        <td>Serial No :</td>
        <td><%=Serial_No%></td>
    </tr>
     <tr>
        <td>Location :</td>
        <td><%=Location%></td>
    </tr>
    <tr>
        <td>Date of Entry :</td>
        <td><%=Date_of_Entry%></td>
    </tr>
    <tr>
        <td>Status :</td>
        <% if (status =='Returned') { %>
            <td><b><%=status%></b></td>
            <%} else { %>
                <td><%=status%></td>
            <% } %>
    </tr>
</table>

<p>If you have any additional information that you think will help us to assist you, please send it to us. <br/>
    If it’s an emergency, feel free to give us a call at 9205390744 or 9205390764. <br/>
    </p>

<p>Thanks!!<br/>
    Technical Support Desk<br/>
    <b>Drizzle</b></p>


<%- include('includes/footer'); -%>